{# This template is for rendering all the elements of the
part-of-speech tiers for an instance. #}
{% macro first_col(letter) %}
    <TD style="width:30px">
        {% if letter %}{{ letter }}{% endif %}
    </TD>
{% endmacro %}

{% from 'group2/macros.html' import pos_tier, words,
    morphs, morph_dict_json, aln_json %}

<H2>POS Tags and Word Alignment</H2>
<SCRIPT>
    var gw_to_gm={{ morph_dict_json(gloss_m) }};
    var lw_to_lm={{ morph_dict_json(lang_m) }};
    var w_aln={{ aln_json(w_aln, 'tw', 'w') }};
    var m_aln={{ aln_json(m_aln, 'tw', 'g') }};
    var alignClicked=false;
</SCRIPT>
<TABLE style="font-family:Courier">
    {# Lang word row #}
    {% if lang_w != None %}
        <TR>{{first_col('L')}}{{ words(lang_w) }}</TR>
        <TR>{{first_col(None)}}{{ morphs(lang_m) }}</TR>
    {% endif %}

    {# Gloss word row #}
    {% if gloss_w != None %}
        <TR>{{first_col('G')}}{{ words(gloss_w) }}</TR>
        <TR>{{first_col(None)}}{{ morphs(gloss_m) }}</TR>
    {% endif %}

    {# Lang POS row #}
    <TR>{{first_col(None)}}{{ pos_tier(gloss_pos) }}</TR>


    {# Trans word row #}
    {% if trans_w != None %}
        <TR>{{first_col('T')}}{{ words(trans_w) }}</TR>

        {# Trans pos row #}
        <TR>{{first_col(None)}}{{ pos_tier(trans_pos) }}</TR>
    {% endif %}
</TABLE>
{{ pos_tier(trans) }}

