<H2>Error!</H2>
<P>The number of language line tokens do
    not match the number of gloss line tokens.</P>

<P>Please review the gloss line to make sure there is a gloss
    for every language line token.</P>

<P>Multiple glosses pertaining to a single language line word should be
    joined using one of the following:
    <UL>
        <li>"." Period for morphologically indistinct concepts.</li>
        <li>"-" Hyphen for separate morphemes.</li>
        <li>"=" Equal sign for clitics. </li>
    </UL>
</P>

<P>    See: <a href="https://www.eva.mpg.de/lingua/resources/glossing-rules.php">
        Leipzig Glossing Rules
    </a></P>