{# This template file will be used to display a POS tag tier, with
   editable dropdowns. #}
{% macro pos_tier(tier) %}
    {% for item in tier %}
        <TD>
        <SELECT id="{{ item.id }}">
            {% for tag in config['POS_TAGS'] %}
                <option value="{{ tag }}"
                        {% if tag == item.value() %}
                            selected
                        {% endif %}
                >{{ tag }}</option>
            {% endfor %}
        </SELECT>
        </TD>
    {% endfor %}
{% endmacro %}

{# Display the words for a words tier. #}
{% macro words(word_tier) %}
    {% for w in word_tier %}
        <TD id="{{ w.id }}" class="alignable-word"
            onmouseenter="highlight(this);"
            onmouseleave="unhighlight(this);"
            onclick="startAlign(this);"
            style="border:solid white"
        >
            {{ w.value() }}
        </TD>
    {% endfor %}
{% endmacro %}