{# This template file will be used to display a POS tag tier, with
   editable dropdowns. #}
{% macro pos_tier(tier) %}
    {% for item in tier %}
        <TD>
        <SELECT id="{{ item.id }}">
            {% for tag in config['POS_TAGS'] %}
                <option value="{{ tag }}"
                        {% if tag == item.value() %}
                            selected
                        {% endif %}
                >{{ tag }}</option>
            {% endfor %}
        </SELECT>
        </TD>
    {% endfor %}
{% endmacro %}

{# Display the words for a words tier. #}
{% macro words(word_tier) %}
    {% for w in word_tier %}
        <TD id="{{ w.id }}" class="alignable-word"
            onmouseenter="highlight(this);"
            onmouseleave="unhighlight(this);"
            onclick="startAlign(this);"
            style="border:solid white"
        >
            {{ w.value() }}
        </TD>
    {% endfor %}
{% endmacro %}

{% macro morphs(word_morph_list) %}
    {% for word_morphs in word_morph_list %}
        {% set word=word_morphs[0] %}
        <TD id="morphs-{{ word.id }}">
        <TABLE><TR>
        {% for morph in word_morphs[1] %}
            <TD id="{{ morph.id }}" parentWord="{{ word.id }}"
                onmouseenter="highlight(this);"
                onmouseleave="unhighlight(this);">
            {{ morph.value() }}
            </TD>
        {% endfor %}
        </TR></TABLE>
        </TD>
    {% endfor %}
{% endmacro %}