/* IGT Rows */
.igtrow {
    border-top: thin solid black;
    padding:5px;
}

.igtrow:hover {
    background-color: rgb(232, 241, 255);
}

/* Ratings */
.rated-3 {
    background-color: #FF9B9B;
}

.rated-2 {
    background-color: #FFEEAE;
}

.rated-1 {
    background-color: rgb(162, 210, 97);
}

.current-row {
    background-color: rgb(197, 251, 251);
}

/* "Element" Display Elements */
.raw-table, .clean-table, .textrow, .normal-table {
    width: 95%;
}

.short-col {
    width:60px;
}

.textrow pre {
    margin:0px;
}

.short-col input {
    width:50px;
    font-family:Courier;
}

/* The input fields... */

.textinput input{
    width:100%;
    font-family: Courier;
}

.for-deletion {
    background-color: pink;
}

.normal-input {
    width:100%;
}

/* Various Buttons */

.hovericon {
    width:16px;
}

.hovericon:hover, .rating-enabled:hover  {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.hovericon:active, .rating-enabled:active {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.iconclicked {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.iconclicked:hover {
    -webkit-filter: brightness(20%);
    filter: brightness(20%);
}

/* The contents of the browser... */
#igt-instance {
    margin: 10px;
}

/* The analysis fields after editing an instance */
.feedback {
    padding: 3px;
    border: thin solid black;
    border-radius: 3px;
    float:right;
    margin-right:5px;
}

.feedback-warn {
    background-color:lightcoral;
}

.feedback-ok {
    background-color:lightgreen;
}

/* Save Dialog */
#save-msg {
    color: red;
}

/* Ratings */
#rating-button-container {
    text-align: center;
}

#rating-buttons {
    display:inline-block;
    border: thin solid black;
    padding:10px;
    border-radius:10px;
    background-color: rgb(241, 255, 253);
}

.rating-button {
    width:32px;
}

.rating-disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}