/* "Element" Display Elements */
.rawtable, .cleantable, .textrow, .normtable {
    width: 95%;
}

.short-col {
    width:60px;
}

.textrow pre {
    margin:0px;
}

.short-col input {
    width:50px;
    font-family:Courier;
}

.textinput input{
    width:100%;
    font-family: Courier;
}

.normal-input {
    width:100%;
}


.hovericon {
    width:16px;
}

.hovericon:hover {
    filter: brightness(50%);
}

.hovericon:active {
    filter: invert(100%);
}

/* The contents of the browser... */
#all-elements {
    margin: 10px;
}

/* The analysis fields after editing an instance */
.feedback {
    padding: 3px;
    border: thin solid black;
    border-radius: 3px;
    float:right;
    margin-right:5px;
}

.feedback-warn {
    background-color:lightcoral;
}

.feedback-ok {
    background-color:lightgreen;
}