<HTML xmlns="http://www.w3.org/1999/html">

<HEAD>
    {# Start off with the script imports... #}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>

    {# And the stylesheet.. #}
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">

    {# And our own scripts... #}
    <script type="text/javascript" src="static/browser.js"></script>
    <link rel="stylesheet" type="text/css" href="static/default.css"/>

</HEAD>

<BODY>

    {# MAIN LAYOUT ELEMENT #}
    <div class="easyui-layout" style="width: 100%;height: 100%">

        {# Left-Hand Side Elements #}
        <div id="browser-panels" class="easyui-layout" data-options="split:true,region:'west'" style="width:20%">

            <div id="course-list" data-options="split:true,region:'center',title:'Corpora'" style="width:50%">

                {# BEGIN CORPUS LIST #}
                <ul class="easyui-datalist" data-options="onSelect:function(index, data){populateIGTs(index, data)}" lines="true" style="width:100%">
                {% for corpus in corpora %}
                    <li value="{{ corpus.get('id') }}" id="{{ corpus.get('name') }}">{{ corpus.get('name') }}</li>
                {% endfor %}
                </ul>
                {# END CORPUS LIST #}

            </div>

            <div id="fine-list" data-options="split:true,region:'south',title:'IGTs'" style="height:50%">

            </div>

        </div>
        <div id="editor-panel" class="easyui-panel" data-options="region:'center',split:'true',title:'Editor'" style="width:80%">
            <div style="font-size:large;margin:20px">
                <P>Nothing currently selected.</P>
                <P>To select an element to edit, please click on it in the left-hand menu.</P>
            </div>
        </div>
    </div>

    {# END LAYOUT ELEMENT #}

</BODY>
</HTML>