<HTML xmlns="http://www.w3.org/1999/html">

<HEAD>
    <TITLE>XIGT Editor</TITLE>

    {% from 'scripts.html' import scripts %}
    {{ scripts() }}
    {% from 'tier_table.html' import tier_line %}

    <script id="row_template" type="text/plain">
        {{ tier_line(none, '', true, '') }}
    </script>

    <script id="norm_row_template" type="text/plain">
        {{ tier_line(none, 'normal', true, '') }}
    </script>

    <script id="userID" type="text/plain">{{ user_id }}</script>
</HEAD>

<BODY>


{# MAIN LAYOUT ELEMENT #}
<div id="mainwindow" class="easyui-layout" style="width: 100%;height: 100%">

    {# Left-Hand Side Elements #}
    <div id="list-container" region="west" split="true" style="width:20%;min-width:90px">

        <div id="list-layout" class="easyui-layout" fit="true">
            <div id="course-list" split="true" region="north"  title="Corpora" style="height:20%">

                {# BEGIN CORPUS LIST #}
                {% for corpus in corpora %}

                    <div id="corp-{{ corpus.get('name') }}">
                        <div class="corpname igtrow"
                             style="width:calc(100% - 40px); float:left"
                             onclick="populateIGTs('{{ corpus.get('id') }}')"
                        >
                            {{ corpus.get('name') }}
                        </div>
                        <div class="corpdown igtrow"
                             style="width:20px;float:left;text-align: center"
                             onclick="downloadCorpus('{{ corpus.get('id') }}')">
                            <img height=13  src="/static/images/download.svg"/>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                {% endfor %}
                <div class="endlist"></div>
                {# END CORPUS LIST #}

            </div>
            <div id="fine-list"   split="true" region="center" title="IGTs" class="easyui-panel" style="height: 80%;min-height: 50px" ></div>
        </div>
    </div>
    <div id="editor-panel" class="easyui-panel" region="center" split="true" title="Editor" style="width:80%">
        <div style="font-size:large;margin:20px">
            <P>No instance is selected.</P>
            <P>To select an instance to edit, please click on it in the left-hand menu.</P>
        </div>
    </div>
</div>

{# END LAYOUT ELEMENT #}

</BODY>
</HTML>