
<div id="all-elements">
    {# Iterate over every igt in the page... #}
    {% for igt in xigt %}
    <div id="{{ igt.id }}" class="igt-panel">

    {# RAW TIER... #}
    <div class="raw-tier">
    <H2>Raw Tier</H2>
        <TABLE class="texttable">
            {% for item in igt.raw_tier() %}
                <TR class="textrow">
                    <TD class="short-col"><pre></pre></TD>
                    <TD class="short-col"><pre>{{item.attributes.get('tag')}}</pre></TD>
                    <TD><pre>{{ item.text }}"</pre></TD>
                </TR>
            {% endfor %}
        </TABLE>
    </div>

    {# AUTO-CLEANED TIER #}
    <H2>Clean Tier</H2>
    <TABLE class="texttable">
    {% for item in igt.clean_tier(merge=True) %}
        <TR id="{{ item.igt.id }}-{{ item.id }}" class="textrow">
            <TD class="short-col">
                <img class="hovericon undo" src="static/images/undo.png" onclick="restoreItem('#{{ item.igt.id }}-{{ item.id }}')"/>
                <img class="hovericon delete" src="static/images/delete.png" onclick="deleteItem('#{{ item.igt.id }}-{{ item.id}}')"/>
            </TD>
            <TD class="short-col">
                <input type="text" value="{{ item.attributes.get('tag') }}"/>
            </TD>
            <TD class="textinput"><input type="text" value="{{ item.text }}"/></TD>
        </TR>
    {% endfor %}
    </TABLE>
    {# END AUTO-CLEANED TIER #}

    <input style="float:left;left:90px;position:relative" value="Submit Edits"
           class="button" type="button"
           onclick="$('\#{{ igt.id+'msg' }}').text('unimplemented!')"
    />
    <span style="float:left;position:relative;left:90px;margin:1px 10px;color:red" id="{{ igt.id+'msg' }}"/>
    </div>
{% endfor %}

</div>
