{% import 'tier_table.html' as table %}
{% from 'rating_button.html' import rating_button %}
<div id="igt-instance" igtid="{{ igt_id }}" corpid="{{ corp_id }}">


    {# Iterate over every igt in the page... #}
    <div class="igt-panel">
    <H1>Instance {{ igt_id }}</H1>
    <HR/>

        {# RAW TIER... #}
        <div class="raw-tier">
            <H2>Raw Tier</H2>
            {{ table.tier_table(rt, 'raw', 'r', False) }}
        </div>

        <input type="button" id="generate-clean"

               {# If we have not created a clean tier, do not alert about overwriting. #}
               {% if state <= 1 %}
                   value="Generate Clean Tier"   onclick="cleanIGT('{{ corp_id }}', '{{ igt.id }}', false)"

               {# If we've already created a clean tier, alert about overwriting. #}
               {% else %}
                   value="Regenerate Clean Tier" onclick="cleanIGT('{{ corp_id }}', '{{ igt.id }}', true)"
               {% endif %}
        />
        <HR/>

        {# AUTO-CLEANED TIER #}
        <div id="clean-tier"

             {# If the state isn't cleaned, don't show #}
             {% if state < 1 %}
                 style="display:none;"
             {% endif %}>

            <H2>Clean Tier</H2>
            <div id="clean-contents">
                {% if state >= 1 %}
                    {{ table.tier_table(ct, 'clean', 'c', True) }}
                {% endif %}
            </div>
            <BR/>
            <input id="generate-normalized"
                {% if nt_content is none %}
                    value="Generate Normalized Tier"   onclick="normalizeIGT('{{ corp_id }}', '{{ igt.id }}', false)"
                {% else %}
                    value="Regenerate Normalized Tier" onclick="normalizeIGT('{{ corp_id }}', '{{ igt.id }}', true)"
                {% endif %}
                    class="button" type="button"
            />
        </div>
        {# END AUTO-CLEANED TIER #}


        <div id="normalized-tier" style="{% if nt_content is none %}display:none;{% endif %}clear:both">
            <HR/>
            <H2>Normalized Tier</H2>
            <div id="normalized-contents">
                {% if nt_content is not none %}
                    {{ nt_content | safe }}
                {% endif %}
            </div>
            {# Calculate normalized #}
            <input type="button"
                   value="Analyze Normalized Tier"
                   onclick="generateFromNormalized('{{ corp_id }}','{{ igt.id }}')" />


            <div id="analysis">
                <span id="glw" class="feedback">GLW</span>
                <span id="glm" class="feedback">GLM</span>
                <span id="tag" class="feedback">TAG</span>
                <span id="col" class="feedback">COL</span>
            </div>
            <div style="clear:both"/>
        </div>

        {# BEGIN RATING BUTTONS #}
        <div id="rating-container">

            <div id="buttons-and-reasons">

                {# Buttons #}
                <div id="rating-buttons">
                    {{ rating_button('red', True, 'BAD_QUALITY') }}
                    {{ rating_button('yellow', nt_content, 'OK_QUALITY') }}
                    {{ rating_button('green', nt_content, 'GOOD_QUALITY') }}
                </div>

                {# Rating Reasons #}
                <div id="rating-reasons">
                    <select class="rating-reasons" id="bad-reasons">
                        <option></option>
                        {% for key in config.BAD_REASONS.keys() %}
                            <option value="{{ key }}">{{ config.BAD_REASONS[key] }}</option>
                        {% endfor %}
                    </select>

                    <select class="rating-reasons" id="ok-reasons">
                        <option></option>
                        {% for key in config.OK_REASONS.keys() %}
                            <option value="{{ key }}">{{ config.OK_REASONS[key] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input id="submit-instance"
                       style="display:none"
                       type="button"
                       value="Submit Instance"
                       onclick="saveIGT()"
                />
            </div>
        </div>


        {# REMAINING TIERS / VISUALIZATIONS #}
        <div id="remaining-tiers">
            <div id="remaining-content">

            </div>
        </div>

    </div>


</div>
