{# This template file is intended to generate the "group 2"
   tiers, such as phrases, words, alignment, POS tags, etc #}

<table id="word-table">
    <H3>Words/Morphemes/Alignments</H3>
    Mouseover the translation line words to see the words
    that are aligned with that word.
    {# Index headers #}
    <tr>
        <td></td>
        {% for col_num in col_nums %}
            <td>{{ col_num }}</td>
        {% endfor %}
    </tr>
    {# LANG LINE #}
    <tr style="border-top:thin black solid">
        <td>L</td>
        {% for lang_pair in lang %}
            <td class="lw-{{ item_index(lang_pair[0]) }}">{{ lang_pair[0].value() }}</td>
        {% endfor %}
    </tr>

    {# LANG-MORPHS #}
    <tr style="border-bottom:thin black solid">
        <td></td>
        {% for lang_pair in lang %}
            <td class="lw-{{ item_index(lang_pair[0]) }}">
                {% for morph in lang_pair[1] %}
                    {{ morph.value() }} &nbsp;
                {% endfor %}
            </td>
        {% endfor %}
    </tr>

    {# GLOSS LINE #}
    <tr>
        <TD>G</TD>
    {% for gloss_pair in gloss %}
        <td class="gw-{{ item_index(gloss_pair[0]) }}">{{ gloss_pair[0].value() }}</td>
    {% endfor %}
    </tr>
    <tr>
        <td></td>
        {% for gloss_pair in gloss %}
            <td class="gw-{{ item_index(gloss_pair[0]) }}">
                {% for gloss_morph in gloss_pair[1] %}
                    {{ gloss_morph.value() }} &nbsp;
                {% endfor %}
            </td>
        {% endfor %}
    </tr>

    {# TRANS LINE #}
    <tr>
        <TD>T</TD>
        {% for trans_word in trans %}
            <td id="tw-{{ item_index(trans_word) }}"
                {% set aligned_srcs = aln.src_to_tgt(item_index(trans_word)) %}
                {% set src_list = aligned_srcs|join(',') %}
                onmouseover="highlightSrcs(this,'{{ src_list }}')"
                onmouseout="unhighlightSrcs(this,'{{ src_list }}')"
            >{{ trans_word.value() }}</td>
        {% endfor %}
    </tr>

    {# Index footer #}
    <tr style="border-top:thin black solid">
        <td></td>
        {% for col_num in col_nums %}
            <td>{{ col_num }}</td>
        {% endfor %}
    </tr>
</table>
