<HTML xmlns="http://www.w3.org/1999/html">

<HEAD>
    {# Start off with the script imports... #}
    <script type="text/javascript" src="static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="static/jquery-easyui/jquery.easyui.min.js"></script>

    {# And our own scripts... #}
    <script type="text/javascript" src="static/browser.js"></script>

    {# And the stylesheet.. #}
    <link rel="stylesheet" type="text/css" href="static/jquery-easyui/themes/gray/easyui.css">

</HEAD>

<BODY>

    {# BEGIN LAYOUT ELEMENT #}

    <div class="easyui-layout" style="width: 100%;height: 100%">
        <div id="querybox" class="easyui-panel" data-options="title:'Query Box',region:'north'">
            Test
        </div>
        <!-- First, let's start off with the file browser window. -->
        <div id="course-list" data-options="split:true,region:'west',title:'Elements'" style="width:20%">
            <ul class="easyui-datalist" data-options="onSelect:function(index, data){browseTo(index, data)}" lines="true" style="width:100%">
            {% for filename in filelist %}
                <li value="{{ filename }}" id="{{ filename }}">{{ filename }}</li>
            {% endfor %}
            </ul>
        </div>
        <div id="editor-panel" class="easyui-panel" data-options="region:'center',split:'true',title:'Editor'" style="width:80%">
            <div style="font-size:large;margin:20px">
                <P>Nothing currently selected.</P>
                <P>To select an element to edit, please click on it in the left-hand menu.</P>
            </div>
        </div>
    </div>

    {# END LAYOUT ELEMENT #}

</BODY>
</HTML>