{% macro scripts() %}
    {# Set the character set #}
    <meta charset="UTF-8">

    {# Start off with the script imports... #}
    <script type="text/javascript" src="/static/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/libs/easyui/jquery.easyui.min.js"></script>

    {# And the stylesheet.. #}
    <link rel="stylesheet" type="text/css" href="/static/libs/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/default.css"/>

    {# And our own scripts... #}
    <script type="text/javascript" src="/static/tooltips.js"></script>
    <script type="text/javascript" src="/static/browser.js"></script>
    <script type="text/javascript" src="/static/tiers.js"></script>

    {# XIGTVIZ STUFF #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="{{ config['XIGTVIZ_URL'] }}/xigtviz.js" charset="utf-8"></script>
    <script>var settings = {{config['xvs']|tojson|safe}};</script>
    <link rel="stylesheet" type="text/css" href="{{ config['XIGTVIZ_URL'] }}/xigtviz.css"/>

{% endmacro %}